body{
font-family: agchoijeongho-screen, sans-serif;

font-weight: 400;

font-style: normal;

margin-left: 2%;
    margin-right: 2%;
}

.wrapper{
    display: grid;
    grid-template-columns: minmax(1%, 40%) minmax(40vh,1fr) minmax(1%,40%);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: whitesmoke;
    position: sticky;
    top: 0%;
}

header > p {
    margin: 0px;
    
}
.about{
    padding-top: 10%;
    padding-bottom: 10%;
}

section{
    line-height: 1.5em;
    word-break: keep-all;
}


#p1{
    background-color: rgb(249, 242, 235);
}

#p2{
    background-color: rgb(190, 190, 177);
}
#p3{
    background-color: rgb(215, 233, 240);
}
#p4{
    background-color: rgb(232, 230, 230);
}

.img{
    width: 100%;
}

.imgContainer{
    position:relative;
    opacity: 2%;
    transition: 0.5s;
}

.button{
    text-decoration: underline;
    cursor: pointer;
}

.active{
    opacity: 100%;
}

@media screen and (max-width: 700px) {
    .wrapper{
        display: block;
    }
}