body{
font-family: agchoijeongho-screen, sans-serif;

font-weight: 400;

font-style: normal;

margin-left: 2%;
    margin-right: 2%;
}

a{
    color: black;
    text-underline-position: under;
}

.wrapper{
    display: grid;
    grid-template-columns: minmax(1%, 40%) minmax(90vw,1fr) minmax(1%,40%);
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: whitesmoke;
    position: sticky;
    top: 0%;
    margin-bottom: 1vw;
    padding: 0.5vw;
    z-index: 9;
}

header > p {
    margin: 0px;
    
}
.about{
    padding-top: 10%;
    padding-bottom: 10%;
}

section{
    line-height: 1.5em;
    word-break: keep-all;
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: max-content;
    gap: 1vw;
   
}

.pages{
    padding: 2%;
}


#p2-1, #p2-1-1, #p2-1-2{
    background-color: #facdcd;
    
}

#p2-2-1 {
    background-color: #fee7ca;
}

#p2-3-1{
    background-color: #74bbfa;
}

#p2-4-1{
    background-color: #e3e6ea;
}



#p1{
    background-color: #f9f2eb;
}

#p2{
    background-color: #bebeb1;
}
#p3{
    background-color: #d7e9f0;
}
#p4{
    background-color: #e8e6e6;
}



.img{
    width: 100%;
}

.imgContainer{
    position:relative;
    opacity: 2%;
    transition: 0.5s;
}

.secondImgContainer{
    padding-top: 0vw;
}

.button{
    text-decoration: underline;
    text-underline-position: under;

    cursor: pointer;
}

.textButton{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.5%;
   
}

.underline{
    text-decoration: underline;
    text-underline-position: under;

    cursor: pointer;
    
    height: 5vh;
    display: flex;
    align-items: center;
    margin: 2%;
   
}

.caption{
    border-bottom: 1px solid black;
}
.active{
    opacity: 100%;
}

.subPage{
    display: none;
    text-decoration: none;
    padding: 2%;
}

.subPage :first-child{
    margin-block-start: 0em;
}

.show{
    display: block;
}

 

        .innerSilder{
            position: absolute;
        }

        .add{
            text-align: center;

            text-decoration: underline;
            text-underline-position: under;

             cursor: pointer;
             
             margin-bottom: 10vh;
        }


        .pastDepot{
            position: relative;
            top:10%;
        }

        .videoSection{
            position: absolute;
            z-index: 10;
            height: 30vh;
        }
        .videoWrapper{
            position: relative;
            height: 30vh;
        }

        input[type=text]{
            width: 90%;
            height: 2.5vh;
            border-radius: 10px;
            margin: 1%;
        }

        input[type=submit]{
            width: 15%;
            height: 2.5vh;
            margin: 1vh 0;
            
        }

        .form{
            border-top: 1px solid black;
            padding-top: 2%;
        }
        .form p{
            margin-block-start: 0.5em;
            margin-block-end: 0em;
        }

        .audioWrapper{
            width: 100%;
            display: flex;
            align-items: center;
        }

        
       
@media screen and (max-width: 1200px) {
    .wrapper{
        display: block;
    }

    .container{
        display: block;
    }
}